In [294]:
import numpy as np
import pandas as pd

In [295]:
df=pd.read_csv('case_time_series.csv')

In [296]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12039,321638,8092,162327,309,9198,136
136,14-Jun,11405,333043,7358,169685,324,9522,137
137,15-Jun,10032,343075,10639,180324,396,9918,138
138,16-Jun,11086,354161,7226,187550,2004,11922,139

In [297]:
#df = df.drop(['Date','Total Confirmed','Daily Recovered', 'Total Recovered','Daily Deceased','Daily Confirmed'], axis=1)

In [333]:
#df=df.tail(10)
df1=df.tail(6)
df2=df.tail(20)
df3=df.tail(10)

In [334]:
Y1 = np.log(df1['Total Confirmed'])
Y1 = np.array(Y1)
Y2 = np.log(df1['Total Recovered'])
Y2 = np.array(Y2)
Y3 = np.log(df1['Total Deceased'])
Y3 = np.array(Y3)
X1 = np.array(df1['Day'])
X2 = np.array(df2['Day'])
X = np.array(df3['Day'])
#Y4 = np.array(df2['Daily Confirmed'])
Y4 =np.log(df2['Daily Confirmed'])
Y4 = np.array(Y4)
Y5 =np.log(df2['Daily Recovered'])
Y5 = np.array(Y5)
Y6 =np.log(df2['Daily Deceased'])
Y6 = np.array(Y6)

In [361]:
from sklearn.linear_model import LinearRegression
X1=X1.reshape(-1, 1)
X2=X2.reshape(-1, 1)
Y1=Y1.reshape(-1, 1)
Y2=Y2.reshape(-1, 1)
Y3=Y3.reshape(-1, 1)
Y4=Y4.reshape(-1, 1)
Y5=Y5.reshape(-1, 1)
Y6=Y6.reshape(-1, 1)

reg1 = LinearRegression().fit(X1, Y1)
reg2 = LinearRegression().fit(X1, Y2)
reg3 = LinearRegression().fit(X1, Y3)
reg4 = LinearRegression().fit(X2, Y4)
reg5 = LinearRegression().fit(X2, Y5)
reg6 = LinearRegression().fit(X2, Y6)

logb1 = reg1.coef_
loga1 = reg1.intercept_
a1 = np.exp(loga1)
b1 = np.exp(logb1)

logb2 = reg2.coef_
loga2 = reg2.intercept_
a2 = np.exp(loga2)
b2 = np.exp(logb2)

logb3 = reg3.coef_
loga3 = reg3.intercept_
a3 = np.exp(loga3)
b3 = np.exp(logb3)

logb4 = reg4.coef_
loga4 = reg4.intercept_
a4 = np.exp(loga4)
b4 = np.exp(logb4)

logb5 = reg5.coef_
loga5 = reg5.intercept_
a5 = np.exp(loga5)
b5 = np.exp(logb5)

logb6 = reg6.coef_
loga6 = reg6.intercept_
a6 = np.exp(loga6)
b6 = np.exp(logb6)
#print("Based on Last 20 Days Data")
#print ("Total Confirmed Accuracy", reg1.score(X1, Y1)*100)
print ("coefficient of determination for Total Confirmed", reg1.score(X1, Y1)*100)
print ("coefficient of determination for Total Recovered ", reg2.score(X1, Y2)*100)
print ("coefficient of determination for Total Deceased ", reg3.score(X1, Y3)*100)
print("coefficient of determination for Based on Last 30 Days Data")
print ("coefficient of determination for Daily Confirmed ", reg4.score(X2, Y4)*100)
print ("coefficient of determination for Daily Recovered ", reg5.score(X2, Y5)*100)
print ("coefficient of determination for Daily Deceased ", reg6.score(X2, Y6)*100)

coefficient of determination for Total Confirmed 99.76253904622583
coefficient of determination for Total Recovered  99.81494829561804
coefficient of determination for Total Deceased  85.40494758711739
coefficient of determination for Based on Last 30 Days Data
coefficient of determination for Daily Confirmed  71.1034406432553
coefficient of determination for Daily Recovered  32.12607672067047
coefficient of determination for Daily Deceased  48.909857060334694

In [362]:
final

         Date  Total Confirmed  Total Deceased  Day
0  2020-06-17         367693.0         11789.0  140
1  2020-06-18         380532.0         12501.0  141
2  2020-06-19         393819.0         13257.0  142
3  2020-06-20         407570.0         14058.0  143
4  2020-06-21         421801.0         14908.0  144
5  2020-06-22         436529.0         15809.0  145
6  2020-06-23         451771.0         16765.0  146
7  2020-06-24         467545.0         17779.0  147
8  2020-06-25         483870.0         18853.0  148
9  2020-06-26         500766.0         19993.0  149
10 2020-06-27         518251.0         21201.0  150
11 2020-06-28         536346.0         22483.0  151
12 2020-06-29         555074.0         23842.0  152
13 2020-06-30         574455.0         25283.0  153
14 2020-07-01         594513.0         26812.0  154
15 2020-07-02         615272.0         28432.0  155
16 2020-07-03         636755.0         30151.0  156
17 2020-07-04         658989.0         31974.0  157
18 2020-07-05         681998.0         33907.0  158
19 2020-07-06         705812.0         35956.0  159
20 2020-07-07         730456.0         38130.0  160
21 2020-07-08         755961.0         40435.0  161
22 2020-07-09         782357.0         42879.0  162
23 2020-07-10         809674.0         45471.0  163
24 2020-07-11         837946.0         48220.0  164
25 2020-07-12         867204.0         51134.0  165
26 2020-07-13         897484.0         54225.0  166
27 2020-07-14         928821.0         57503.0  167
28 2020-07-15         961253.0         60979.0  168
29 2020-07-16         994817.0         64665.0  169
30 2020-07-17        1029552.0         68574.0  170

In [363]:
drange = 31
start =len(df) +1
dval = np.arange(start,start+drange,1)
dval= np.array(dval)
val= dval
dval=dval.reshape(-1, 1)
print(dval.shape)
import datetime
base = datetime.date.today() - datetime.timedelta(days=1)
date_list = [base + datetime.timedelta(days=x) for x in range(drange)]
date_list = pd.to_datetime(date_list,utc=None)

DConfirmed = np.round_(np.multiply(a4,(np.power(b4,val))))
TConfirmed = np.round_(np.multiply(a1,(np.power(b1,val))))
#TConfirmed = np.round_(reg1.predict(dval))
DRecovered = np.round_(np.multiply(a5,(np.power(b5,val))))
TRecovered = np.round_(np.multiply(a2,(np.power(b2,val))))
#TRecovered = np.round_(reg2.predict(dval))
DDeceased = np.round_(np.multiply(a6,(np.power(b6,val))))
TDeceased = np.round_(np.multiply(a3,(np.power(b3,val))))
#TDeceased = np.round_(reg3.predict(dval))

dict = {
   'Date' : date_list,
    #    'Daily Confirmed': DConfirmed.flatten(), 
        'Total Confirmed': TConfirmed.flatten(), 
  #      'Daily Recovered': DRecovered.flatten() ,
  #      'Total Recovered': TRecovered.flatten(),
 #       'Daily Deceased' : DDeceased.flatten(),
        'Total Deceased' : TDeceased.flatten(),
        'Day' : dval.flatten() ,
       } 
final = pd.DataFrame(dict)

(31, 1)

In [364]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12039,321638,8092,162327,309,9198,136
136,14-Jun,11405,333043,7358,169685,324,9522,137
137,15-Jun,10032,343075,10639,180324,396,9918,138
138,16-Jun,11086,354161,7226,187550,2004,11922,139

In [365]:
#save to Csv
final.to_csv("predict.csv")
pr=pd.read_csv('predict.csv')
pr.head()

   Unnamed: 0        Date  Total Confirmed  Total Deceased  Day
0           0  2020-06-17         367693.0         11789.0  140
1           1  2020-06-18         380532.0         12501.0  141
2           2  2020-06-19         393819.0         13257.0  142
3           3  2020-06-20         407570.0         14058.0  143
4           4  2020-06-21         421801.0         14908.0  144

In [360]:
#final = pd.Series(dict).to_frame()
print("Daily Confirmed",DConfirmed )
print("Total Confirmed",[TConfirmed] )
print("Daily Recovered",[DRecovered] )
print("Total Recovered",[TRecovered] )
print("Daily Deceased",[DDeceased])
print("Total Deceased",[TDeceased] )

Daily Confirmed [[12056. 12307. 12564. 12826. 13093. 13366. 13645. 13929. 14219. 14516.
  14818. 15127. 15443. 15764. 16093. 16429. 16771. 17121. 17478. 17842.
  18214. 18593. 18981. 19377. 19781. 20193. 20614. 21044. 21482. 21930.
  22387.]]
Total Confirmed [array([[ 367693.,  380532.,  393819.,  407570.,  421801.,  436529.,
         451771.,  467545.,  483870.,  500766.,  518251.,  536346.,
         555074.,  574455.,  594513.,  615272.,  636755.,  658989.,
         681998.,  705812.,  730456.,  755961.,  782357.,  809674.,
         837946.,  867204.,  897484.,  928821.,  961253.,  994817.,
        1029552.]])]
Daily Recovered [array([[ 7945.,  8205.,  8474.,  8753.,  9040.,  9336.,  9643.,  9959.,
        10286., 10623., 10972., 11332., 11704., 12087., 12484., 12894.,
        13317., 13754., 14205., 14671., 15152., 15649., 16163., 16693.,
        17241., 17807., 18391., 18994., 19617., 20261., 20926.]])]
Total Recovered [array([[197696., 207726., 218266., 229340., 240975., 253201., 266048.,
        279546., 293729., 308632., 324291., 340744., 358032., 376197.,
        395284., 415339., 436411., 458553., 481818., 506264., 531950.,
        558939., 587297., 617094., 648403., 681300., 715867., 752187.,
        790350., 830449., 872583.]])]
Daily Deceased [array([[ 566.,  600.,  637.,  675.,  716.,  760.,  806.,  854.,  906.,
         961., 1019., 1081., 1147., 1216., 1290., 1368., 1451., 1539.,
        1633., 1732., 1837., 1948., 2066., 2191., 2324., 2465., 2615.,
        2773., 2941., 3120., 3309.]])]
Total Deceased [array([[11789., 12501., 13257., 14058., 14908., 15809., 16765., 17779.,
        18853., 19993., 21201., 22483., 23842., 25283., 26812., 28432.,
        30151., 31974., 33907., 35956., 38130., 40435., 42879., 45471.,
        48220., 51134., 54225., 57503., 60979., 64665., 68574.]])]