In [85]:
import numpy as np
import pandas as pd

In [86]:
df=pd.read_csv('case_time_series.csv')

In [87]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12039,321638,8092,162327,309,9198,136
136,14-Jun,11405,333043,7358,169685,324,9522,137
137,15-Jun,10032,343075,10639,180324,396,9918,138
138,16-Jun,11086,354161,7226,187550,2004,11922,139

In [88]:
#df = df.drop(['Date','Total Confirmed','Daily Recovered', 'Total Recovered','Daily Deceased','Daily Confirmed'], axis=1)

In [203]:
#df=df.tail(10)
df1=df.tail(8)
df2=df.tail(20)
df3=df.tail(10)

In [204]:
Y1 = np.array(df1['Total Confirmed'])
Y2 = np.array(df1['Total Recovered'])
Y3 = np.array(df1['Total Deceased'])
X1 = np.array(df1['Day'])
X2 = np.array(df2['Day'])
X = np.array(df3['Day'])
#Y4 = np.array(df2['Daily Confirmed'])
Y4 =np.log(df2['Daily Confirmed'])
Y4 = np.array(Y4)
Y5 =np.log(df2['Daily Recovered'])
Y5 = np.array(Y5)
Y6 =np.log(df2['Daily Deceased'])
Y6 = np.array(Y6)

In [205]:
from sklearn.linear_model import LinearRegression
X1=X1.reshape(-1, 1)
X2=X2.reshape(-1, 1)
Y1=Y1.reshape(-1, 1)
Y2=Y2.reshape(-1, 1)
Y3=Y3.reshape(-1, 1)
Y4=Y4.reshape(-1, 1)
Y5=Y5.reshape(-1, 1)
Y6=Y6.reshape(-1, 1)

reg1 = LinearRegression().fit(X1, Y1)
reg2 = LinearRegression().fit(X1, Y2)
reg3 = LinearRegression().fit(X1, Y3)
reg4 = LinearRegression().fit(X2, Y4)
reg5 = LinearRegression().fit(X2, Y5)
reg6 = LinearRegression().fit(X2, Y6)

logb4 = reg4.coef_
loga4 = reg4.intercept_
a4 = np.exp(loga4)
b4 = np.exp(logb4)

logb5 = reg5.coef_
loga5 = reg5.intercept_
a5 = np.exp(loga5)
b5 = np.exp(logb5)

logb6 = reg6.coef_
loga6 = reg6.intercept_
a6 = np.exp(loga6)
b6 = np.exp(logb6)

print("Based on Last 20 Days Data")
print ("Total Confirmed Accuracy", reg1.score(X1, Y1)*100)
print ("Total Recovered Accuracy", reg2.score(X1, Y2)*100)
print ("Total Deceased Accuracy", reg3.score(X1, Y3)*100)
print("Based on Last 50 Days Data")
print ("Daily Confirmed Accuracy", reg4.score(X2, Y4)*100)
print ("Daily Recovered Accuracy", reg5.score(X2, Y5)*100)
print ("Daily Deceased Accuracy", reg6.score(X2, Y6)*100)

Based on Last 20 Days Data
Total Confirmed Accuracy 99.96952910721973
Total Recovered Accuracy 99.42251703519895
Total Deceased Accuracy 86.65847920120284
Based on Last 50 Days Data
Daily Confirmed Accuracy 71.1034406432553
Daily Recovered Accuracy 32.12607672067047
Daily Deceased Accuracy 48.909857060334694

In [206]:
drange = 11
start =len(df) +1
dval = np.arange(start,start+drange,1)
dval= np.array(dval)
val= dval
dval=dval.reshape(-1, 1)
print(dval.shape)
import datetime
base = datetime.date.today()
date_list = [base + datetime.timedelta(days=x) for x in range(drange)]
date_list = pd.to_datetime(date_list,utc=None)

DConfirmed = np.round_(np.multiply(a4,(np.power(b4,val))))
TConfirmed = np.round_(reg1.predict(dval))
DRecovered = np.round_(np.multiply(a5,(np.power(b5,val))))
TRecovered = np.round_(reg2.predict(dval))
DDeceased = np.round_(np.multiply(a6,(np.power(b6,val))))
TDeceased = np.round_(reg3.predict(dval))

dict = {
   'Date' : date_list,
    #    'Daily Confirmed': DConfirmed.flatten(), 
        'Total Confirmed': TConfirmed.flatten(), 
  #      'Daily Recovered': DRecovered.flatten() ,
        'Total Recovered': TRecovered.flatten(),
 #       'Daily Deceased' : DDeceased.flatten(),
        'Total Deceased' : TDeceased.flatten(),
        'Day' : dval.flatten() ,
       } 
final = pd.DataFrame(dict)

(11, 1)

In [207]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12039,321638,8092,162327,309,9198,136
136,14-Jun,11405,333043,7358,169685,324,9522,137
137,15-Jun,10032,343075,10639,180324,396,9918,138
138,16-Jun,11086,354161,7226,187550,2004,11922,139

In [208]:
final

         Date  Total Confirmed  Total Recovered  Total Deceased  Day
0  2020-06-17         365888.0         194057.0         11456.0  140
1  2020-06-18         377114.0         201718.0         11952.0  141
2  2020-06-19         388340.0         209378.0         12448.0  142
3  2020-06-20         399566.0         217039.0         12943.0  143
4  2020-06-21         410792.0         224699.0         13439.0  144
5  2020-06-22         422018.0         232360.0         13935.0  145
6  2020-06-23         433244.0         240021.0         14430.0  146
7  2020-06-24         444471.0         247681.0         14926.0  147
8  2020-06-25         455697.0         255342.0         15422.0  148
9  2020-06-26         466923.0         263002.0         15918.0  149
10 2020-06-27         478149.0         270663.0         16413.0  150

In [209]:
#save to Csv
final.to_csv("predict.csv")
pr=pd.read_csv('predict.csv')
pr.head()

,Unnamed: 0,Date,Total Confirmed,Total Recovered,Total Deceased,Day
0,0,2020-06-17,365888.0,194057.0,11456.0,140
1,1,2020-06-18,377114.0,201718.0,11952.0,141
2,2,2020-06-19,388340.0,209378.0,12448.0,142
3,3,2020-06-20,399566.0,217039.0,12943.0,143
4,4,2020-06-21,410792.0,224699.0,13439.0,144

In [127]:
#final = pd.Series(dict).to_frame()
print("Daily Confirmed",DConfirmed )
print("Total Confirmed",[TConfirmed] )
print("Daily Recovered",[DRecovered] )
print("Total Recovered",[TRecovered] )
print("Daily Deceased",[DDeceased])
print("Total Deceased",[TDeceased] )

Daily Confirmed [[11530. 11685. 11842. 12002. 12164. 12328. 12494. 12662. 12833. 13005.
  13181.]]
Total Confirmed [array([[364961.],
       [375927.],
       [386894.],
       [397860.],
       [408826.],
       [419792.],
       [430758.],
       [441724.],
       [452690.],
       [463657.],
       [474623.]])]
Daily Recovered [array([[ 9490., 10102., 10753., 11446., 12184., 12970., 13806., 14696.,
        15643., 16652., 17725.]])]
Total Recovered [array([[192257.],
       [199402.],
       [206548.],
       [213694.],
       [220840.],
       [227986.],
       [235132.],
       [242278.],
       [249424.],
       [256570.],
       [263716.]])]
Daily Deceased [array([[ 799.,  909., 1035., 1179., 1342., 1528., 1740., 1981., 2256.,
        2569., 2925.]])]
Total Deceased [array([[11251.],
       [11688.],
       [12124.],
       [12561.],
       [12998.],
       [13434.],
       [13871.],
       [14308.],
       [14744.],
       [15181.],
       [15618.]])]