In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('case_time_series.csv')

In [4]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
132,10-Jun,11156,287158,6275,140928,358,8107,133
133,11-Jun,11135,298293,6044,146972,394,8501,134
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12039,321638,8092,162327,309,9198,136
136,14-Jun,11378,333016,7356,169683,321,9519,137

In [5]:
#df = df.drop(['Date','Total Confirmed','Daily Recovered', 'Total Recovered','Daily Deceased','Daily Confirmed'], axis=1)

In [6]:
#df=df.tail(10)
df1=df.tail(5)
df2=df.tail(60)
df3=df.tail(10)

In [7]:
Y1 = np.array(df1['Total Confirmed'])
Y2 = np.array(df1['Total Recovered'])
Y3 = np.array(df1['Total Deceased'])
X1 = np.array(df1['Day'])
X2 = np.array(df2['Day'])
X = np.array(df3['Day'])
#Y4 = np.array(df2['Daily Confirmed'])
Y4 =np.log(df2['Daily Confirmed'])
Y4 = np.array(Y4)
Y5 =np.log(df2['Daily Recovered'])
Y5 = np.array(Y5)
Y6 =np.log(df2['Daily Deceased'])
Y6 = np.array(Y6)

In [8]:
X=X.reshape(-1, 1)
Y41=Y41.reshape(-1, 1)
reg4 = LinearRegression().fit(X, Y41)
logb = reg4.coef_
loga = reg4.intercept_
a = np.exp(loga)
b = np.exp(logb)
t=136
ans = np.multiply(a,(np.power(b,t)))
ans

NameError: name 'Y41' is not defined

In [9]:
from sklearn.linear_model import LinearRegression
X1=X1.reshape(-1, 1)
X2=X2.reshape(-1, 1)
Y1=Y1.reshape(-1, 1)
Y2=Y2.reshape(-1, 1)
Y3=Y3.reshape(-1, 1)
Y4=Y4.reshape(-1, 1)
Y5=Y5.reshape(-1, 1)
Y6=Y6.reshape(-1, 1)

reg1 = LinearRegression().fit(X1, Y1)
reg2 = LinearRegression().fit(X1, Y2)
reg3 = LinearRegression().fit(X1, Y3)
reg4 = LinearRegression().fit(X2, Y4)
reg5 = LinearRegression().fit(X2, Y5)
reg6 = LinearRegression().fit(X2, Y6)

logb4 = reg4.coef_
loga4 = reg4.intercept_
a4 = np.exp(loga4)
b4 = np.exp(logb4)

logb5 = reg5.coef_
loga5 = reg5.intercept_
a5 = np.exp(loga5)
b5 = np.exp(logb5)

logb6 = reg6.coef_
loga6 = reg6.intercept_
a6 = np.exp(loga6)
b6 = np.exp(logb6)

print("Based on Last 20 Days Data")
print ("Total Confirmed Accuracy", reg1.score(X1, Y1)*100)
print ("Total Recovered Accuracy", reg2.score(X1, Y2)*100)
print ("Total Deceased Accuracy", reg3.score(X1, Y3)*100)
print("Based on Last 50 Days Data")
print ("Daily Confirmed Accuracy", reg4.score(X2, Y4)*100)
print ("Daily Recovered Accuracy", reg5.score(X2, Y5)*100)
print ("Daily Deceased Accuracy", reg6.score(X2, Y6)*100)

Based on Last 20 Days Data
Total Confirmed Accuracy 99.98262873653077
Total Recovered Accuracy 99.76444565344893
Total Deceased Accuracy 99.67576980049793
Based on Last 50 Days Data
Daily Confirmed Accuracy 96.3494085905512
Daily Recovered Accuracy 93.31441466883665
Daily Deceased Accuracy 93.26782497951386

In [11]:
drange = 30
start =len(df) +1
dval = np.arange(start,start+drange,1)
dval= np.array(dval)
val= dval
dval=dval.reshape(-1, 1)
print(dval.shape)
import datetime
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(drange)]

DConfirmed = np.round_(np.multiply(a4,(np.power(b4,val))))
TConfirmed = np.round_(reg1.predict(dval))
DRecovered = np.round_(np.multiply(a5,(np.power(b5,val))))
TRecovered = np.round_(reg2.predict(dval))
DDeceased = np.round_(np.multiply(a6,(np.power(b6,val))))
TDeceased = np.round_(reg3.predict(dval))

dict = {'Date' : date_list,
        'Daily Confirmed': DConfirmed.flatten(), 
        'Total Confirmed': TConfirmed.flatten(), 
        'Daily Recovered': DRecovered.flatten() ,
        'Total Recovered': TRecovered.flatten(),
        'Daily Deceased' : DDeceased.flatten(),
        'Total Deceased' : TDeceased.flatten(),
        'Day' : dval.flatten() ,
       } 
final = pd.DataFrame(dict) 
final

(30, 1)

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
0,2020-06-15 17:04:07.727084,15039.0,344459.0,9795.0,176688.0,397.0,9899.0,138
1,2020-06-14 17:04:07.727084,15681.0,355965.0,10341.0,183975.0,413.0,10251.0,139
2,2020-06-13 17:04:07.727084,16350.0,367471.0,10919.0,191262.0,430.0,10603.0,140
3,2020-06-12 17:04:07.727084,17048.0,378977.0,11528.0,198548.0,447.0,10955.0,141
4,2020-06-11 17:04:07.727084,17776.0,390484.0,12172.0,205834.0,464.0,11308.0,142
5,2020-06-10 17:04:07.727084,18535.0,401990.0,12852.0,213121.0,483.0,11660.0,143
6,2020-06-09 17:04:07.727084,19326.0,413496.0,13569.0,220408.0,502.0,12012.0,144
7,2020-06-08 17:04:07.727084,20151.0,425002.0,14327.0,227694.0,521.0,12364.0,145
8,2020-06-07 17:04:07.727084,21011.0,436508.0,15126.0,234980.0,542.0,12716.0,146
9,2020-06-06 17:04:07.727084,21908.0,448014.0,15971.0,242267.0,563.0,13068.0,147
10,2020-06-05 17:04:07.727084,22843.0,459520.0,16863.0,249554.0,586.0,13420.0,148
11,2020-06-04 17:04:07.727084,23818.0,471026.0,17804.0,256840.0,609.0,13772.0,149
12,2020-06-03 17:04:07.727084,24834.0,482532.0,18798.0,264126.0,633.0,14124.0,150
13,2020-06-02 17:04:07.727084,25894.0,494038.0,19848.0,271413.0,658.0,14476.0,151
14,2020-06-01 17:04:07.727084,27000.0,505545.0,20956.0,278700.0,684.0,14828.0,152
15,2020-05-31 17:04:07.727084,28152.0,517051.0,22126.0,285986.0,711.0,15181.0,153
16,2020-05-30 17:04:07.727084,29354.0,528557.0,23361.0,293272.0,739.0,15533.0,154
17,2020-05-29 17:04:07.727084,30607.0,540063.0,24665.0,300559.0,768.0,15885.0,155
18,2020-05-28 17:04:07.727084,31913.0,551569.0,26042.0,307846.0,799.0,16237.0,156
19,2020-05-27 17:04:07.727084,33275.0,563075.0,27496.0,315132.0,830.0,16589.0,157
20,2020-05-26 17:04:07.727084,34695.0,574581.0,29031.0,322418.0,863.0,16941.0,158
21,2020-05-25 17:04:07.727084,36176.0,586087.0,30652.0,329705.0,897.0,17293.0,159
22,2020-05-24 17:04:07.727084,37720.0,597593.0,32364.0,336992.0,933.0,17645.0,160
23,2020-05-23 17:04:07.727084,39330.0,609099.0,34170.0,344278.0,970.0,17997.0,161
24,2020-05-22 17:04:07.727084,41009.0,620606.0,36078.0,351564.0,1008.0,18350.0,162
25,2020-05-21 17:04:07.727084,42759.0,632112.0,38092.0,358851.0,1048.0,18702.0,163
26,2020-05-20 17:04:07.727084,44585.0,643618.0,40219.0,366138.0,1089.0,19054.0,164
27,2020-05-19 17:04:07.727084,46488.0,655124.0,42465.0,373424.0,1133.0,19406.0,165
28,2020-05-18 17:04:07.727084,48472.0,666630.0,44835.0,380710.0,1177.0,19758.0,166
29,2020-05-17 17:04:07.727084,50541.0,678136.0,47339.0,387997.0,1224.0,20110.0,167

In [795]:
#final = pd.Series(dict).to_frame()
print("Daily Confirmed",DConfirmed )
print("Total Confirmed",[TConfirmed] )
print("Daily Recovered",[DRecovered] )
print("Total Recovered",[TRecovered] )
print("Daily Deceased",[DDeceased])
print("Total Deceased",[TDeceased] )

(4, 1)

In [12]:
#save to Csv
final.to_csv("predict.csv")
pr=pd.read_csv('predict.csv')
pr.head()

,Unnamed: 0,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
0,0,2020-06-15 17:04:07.727084,15039.0,344459.0,9795.0,176688.0,397.0,9899.0,138
1,1,2020-06-14 17:04:07.727084,15681.0,355965.0,10341.0,183975.0,413.0,10251.0,139
2,2,2020-06-13 17:04:07.727084,16350.0,367471.0,10919.0,191262.0,430.0,10603.0,140
3,3,2020-06-12 17:04:07.727084,17048.0,378977.0,11528.0,198548.0,447.0,10955.0,141
4,4,2020-06-11 17:04:07.727084,17776.0,390484.0,12172.0,205834.0,464.0,11308.0,142