In [378]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [379]:
df=pd.read_csv('case_time_series.csv')

In [382]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
131,9-Jun,9981,276002,5634,134653,272,7749,132
132,10-Jun,11156,287158,6275,140928,358,8107,133
133,11-Jun,11135,298293,6044,146972,394,8501,134
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12035,321634,8092,162327,309,9198,136

In [383]:
#df = df.drop(['Date','Total Confirmed','Daily Recovered', 'Total Recovered','Daily Deceased','Daily Confirmed'], axis=1)

In [450]:
#df=df.tail(10)
df1=df.tail(20)
df2=df.tail(50)

In [451]:
Y1 = np.array(df1['Total Confirmed'])
Y2 = np.array(df1['Total Recovered'])
Y3 = np.array(df1['Total Deceased'])
X1 = np.array(df1['Day'])
X2 = np.array(df2['Day'])
Y4 = np.array(df2['Daily Confirmed'])
Y5 = np.array(df2['Daily Recovered'])
Y6 = np.array(df2['Daily Deceased'])

In [452]:
from sklearn.linear_model import LinearRegression
X1=X1.reshape(-1, 1)
X2=X2.reshape(-1, 1)
Y1=Y1.reshape(-1, 1)
Y2=Y2.reshape(-1, 1)
Y3=Y3.reshape(-1, 1)
Y4=Y4.reshape(-1, 1)
Y5=Y5.reshape(-1, 1)
Y6=Y6.reshape(-1, 1)

reg1 = LinearRegression().fit(X1, Y1)
reg2 = LinearRegression().fit(X1, Y2)
reg3 = LinearRegression().fit(X1, Y3)
reg4 = LinearRegression().fit(X2, Y4)
reg5 = LinearRegression().fit(X2, Y5)
reg6 = LinearRegression().fit(X2, Y6)
print("Based on Last 20 Days Data")
print ("Total Confirmed Accuracy", reg1.score(X1, Y1)*100)
print ("Total Recovered Accuracy", reg2.score(X1, Y2)*100)
print ("Total Deceased Accuracy", reg3.score(X1, Y3)*100)
print("Based on Last 50 Days Data")
print ("Daily Confirmed Accuracy", reg4.score(X2, Y4)*100)
print ("Daily Recovered Accuracy", reg5.score(X2, Y5)*100)
print ("Daily Deceased Accuracy", reg6.score(X2, Y6)*100)

Based on Last 20 Days Data
Total Confirmed Accuracy 99.53893948770637
Total Recovered Accuracy 99.44277094224464
Total Deceased Accuracy 98.9769692778058
Based on Last 50 Days Data
Daily Confirmed Accuracy 95.85574807138369
Daily Recovered Accuracy 72.11595436396026
Daily Deceased Accuracy 85.2015301124599

In [453]:
df.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Day
131,9-Jun,9981,276002,5634,134653,272,7749,132
132,10-Jun,11156,287158,6275,140928,358,8107,133
133,11-Jun,11135,298293,6044,146972,394,8501,134
134,12-Jun,11306,309599,7263,154235,388,8889,135
135,13-Jun,12035,321634,8092,162327,309,9198,136

In [455]:
#dval = 1 for January 30 
dval = 146
print("Forcasted Data For 23rd June that is day",dval ,"Since 31st january ")
print("Daily Confirmed", np.round_(reg4.predict(np.array([[dval]]))))
print("Total Confirmed", np.round_(reg1.predict(np.array([[dval]]))))
print("Daily Recovered", np.round_(reg5.predict(np.array([[dval]]))))
print("Total Recovered", np.round_(reg2.predict(np.array([[dval]]))))
print("Daily Deceased", np.round_(reg6.predict(np.array([[dval]]))))
print("Total Deceased", np.round_(reg3.predict(np.array([[dval]]))))

Forcasted Data For 23rd June that is day 146 Since 31st january
Daily Confirmed [[13167.]]
Total Confirmed [[407955.]]
Daily Recovered [[7708.]]
Total Recovered [[208916.]]
Daily Deceased [[364.]]
Total Deceased [[11521.]]