In [98]:
import numpy as np
import pandas as pd

In [99]:
df=pd.read_csv('TN_daily.csv')

In [100]:
df.tail()

         Date  Confirmed  Deceased  Recovered  Day
90  12-Jun-20       1982        18       1342   91
91  13-Jun-20       1989        30       1362   92
92  14-Jun-20       1974        38       1138   93
93  15-Jun-20       1843        44        797   94
94  16-Jun-20       1515        49       1438   95

In [97]:
#df = df.drop(['Date','Total Confirmed','Daily Recovered', 'Total Recovered','Daily Deceased','Daily Confirmed'], axis=1)

In [118]:
#df=df.tail(10)
ta=47
df2=df.tail(ta)

In [119]:
#Y1 = np.array(df1['Total Confirmed'])
#X1 = np.array(df1['Day'])
X2 = np.array(df2['Day'])

#Y4 = np.array(df2['Daily Confirmed'])
Y4 =np.log(df2['Confirmed'])
Y4 = np.array(Y4)
Y5 =np.log(df2['Recovered'])
Y5 = np.array(Y5)
Y6 =np.log(df2['Deceased'])
Y6 = np.array(Y6)

In [120]:
from sklearn.linear_model import LinearRegression
#X1=X1.reshape(-1, 1)
X2=X2.reshape(-1, 1)

Y4=Y4.reshape(-1, 1)
Y5=Y5.reshape(-1, 1)
Y6=Y6.reshape(-1, 1)

#reg1 = LinearRegression().fit(X1, Y1)
#reg2 = LinearRegression().fit(X1, Y2)
#reg3 = LinearRegression().fit(X1, Y3)
reg4 = LinearRegression().fit(X2, Y4)
reg5 = LinearRegression().fit(X2, Y5)
reg6 = LinearRegression().fit(X2, Y6)

logb4 = reg4.coef_
loga4 = reg4.intercept_
a4 = np.exp(loga4)
b4 = np.exp(logb4)

logb5 = reg5.coef_
loga5 = reg5.intercept_
a5 = np.exp(loga5)
b5 = np.exp(logb5)

logb6 = reg6.coef_
loga6 = reg6.intercept_
a6 = np.exp(loga6)
b6 = np.exp(logb6)

#print("Based on Last 20 Days Data")
#print ("Total Confirmed Accuracy", reg1.score(X1, Y1)*100)
print("Based on Last few Days Data")
print ("Daily Confirmed Accuracy", reg4.score(X2, Y4)*100)
print ("Daily Recovered Accuracy", reg5.score(X2, Y5)*100)
print ("Daily Deceased Accuracy", reg6.score(X2, Y6)*100)

Based on Last few Days Data
Daily Confirmed Accuracy 84.08522565594494
Daily Recovered Accuracy 72.18398396219474
Daily Deceased Accuracy 88.57390825404624

In [121]:
drange = 11
start =len(df) +1
dval = np.arange(start,start+drange,1)
dval= np.array(dval)
val= dval
dval=dval.reshape(-1, 1)
print(dval.shape)
import datetime
base = datetime.date.today()
date_list = [base + datetime.timedelta(days=x) for x in range(drange)]

DConfirmed = np.round_(np.multiply(a4,(np.power(b4,val))))
#TConfirmed = np.round_(reg1.predict(dval))
DRecovered = np.round_(np.multiply(a5,(np.power(b5,val))))
#TRecovered = np.round_(reg2.predict(dval))
DDeceased = np.round_(np.multiply(a6,(np.power(b6,val))))
#TDeceased = np.round_(reg3.predict(dval))

dict = {
        'Date' : date_list,
        'Daily Confirmed': DConfirmed.flatten(), 
#        'Total Confirmed': TConfirmed.flatten(), 
#        'Daily Recovered': DRecovered.flatten() ,
#        'Total Recovered': TRecovered.flatten(),
        'Daily Deceased' : DDeceased.flatten(),
#        'Total Deceased' : TDeceased.flatten(),
        'Day' : dval.flatten() ,
       } 
final = pd.DataFrame(dict)

(11, 1)

In [122]:
df.tail()

         Date  Confirmed  Deceased  Recovered  Day
90  12-Jun-20       1982        18       1342   91
91  13-Jun-20       1989        30       1362   92
92  14-Jun-20       1974        38       1138   93
93  15-Jun-20       1843        44        797   94
94  16-Jun-20       1515        49       1438   95

In [123]:
final

          Date  Daily Confirmed  Daily Deceased  Day
0   2020-06-17           2092.0            36.0   96
1   2020-06-18           2173.0            38.0   97
2   2020-06-19           2257.0            41.0   98
3   2020-06-20           2345.0            44.0   99
4   2020-06-21           2436.0            48.0  100
5   2020-06-22           2530.0            51.0  101
6   2020-06-23           2628.0            55.0  102
7   2020-06-24           2730.0            59.0  103
8   2020-06-25           2836.0            63.0  104
9   2020-06-26           2946.0            68.0  105
10  2020-06-27           3061.0            73.0  106

In [124]:
#final = pd.Series(dict).to_frame()
print("Daily Confirmed",DConfirmed )
#print("Total Confirmed",[TConfirmed] )
print("Daily Recovered",[DRecovered] )
#print("Total Recovered",[TRecovered] )
print("Daily Deceased",[DDeceased])
#print("Total Deceased",[TDeceased] )

Daily Confirmed [[2092. 2173. 2257. 2345. 2436. 2530. 2628. 2730. 2836. 2946. 3061.]]
Daily Recovered [array([[2066., 2232., 2410., 2602., 2810., 3035., 3277., 3539., 3822.,
        4127., 4457.]])]
Daily Deceased [array([[36., 38., 41., 44., 48., 51., 55., 59., 63., 68., 73.]])]

In [81]:
#save to Csv
final.to_csv("predictTN.csv")
pr=pd.read_csv('predictTN.csv')
pr.head()

   Unnamed: 0        Date  Daily Confirmed  Daily Deceased  Day
0           0  2020-06-17           2180.0            39.0   97
1           1  2020-06-18           2265.0            42.0   98
2           2  2020-06-19           2353.0            45.0   99
3           3  2020-06-20           2444.0            49.0  100
4           4  2020-06-21           2539.0            52.0  101